/* Home.module.css */

.homeContainer {
  padding: 20px;
}

.searchBarContainer {
  width: 80%;
  margin: 0 auto;
}

.partidosContainer {
  width: 80%;
  margin: 20px auto;
}

.candidatosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.candidatoCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  margin: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.candidatoHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.candidatoFoto {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.candidatoInfoHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candidatoNome {
  font-size: 1.25rem;
  margin: 0;
}

.candidatoNumero {
  font-size: 0.875rem;
  margin: 0;
}

.candidatoDetalhes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}

.candidatoPropostas {
  margin-right: 15px;
}

.candidatoDetalhesInfo {
  margin-top: 15px; /* Adiciona margem superior para separar das propostas */
}

.redesSociais {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px; /* Adiciona margem superior para separar dos detalhes */
  margin-bottom: 15px; /* Adiciona margem inferior para evitar sobreposição com o botão "Ver Mais" */
  display: none; /* Inicialmente oculto */
}

.redesSociais.expanded {
  display: flex; /* Mostra somente quando o card está expandido */
}

.redeSocialLink {
  margin: 0 10px;
  color: #333;
  font-size: 24px;
}

.redeSocialLink:hover {
  color: #555;
}

.verMaisBtn {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 15px;
}

.verMaisBtn:hover {
  background-color: #555;
}
