* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;

  }
  
  .navbar {
    background-color: #333;
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar a{
    text-decoration: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .brand h1 {
    color: white;
    padding-left: 20px; /* Ajusta a distância do nome à esquerda */
    
  }
  
  .nav_links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav_links li {
    margin-left: 20px;
  }
  
  .nav_links a {
    color: white;
    text-decoration: none;
    
  }
  
  .search_bar {
    display: flex;
    align-items: center;
  }
  
  .search_bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  .search_icon {
    color: white;
    margin-left: 5px;
    cursor: pointer;
  }
  /* Ajuste do espaçamento superior do conteúdo principal */
  main {
    padding-top: 80px; /* Ajuste conforme a altura da Navbar */
  }

  