.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Ajusta a distância da barra em relação à navbar */
  }
  
  .search_input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .search_icon {
    margin-left: -40px;
    color: #888;
    cursor: pointer;
  }
  